@page
@model RecipeManager.Pages.Recipes.IndexModel
@using Entities
@{
    ViewData["Title"] = "Recipes";
}

<h1>Recipes</h1>

<a asp-page="./Create">Create</a>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Ingredients</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (Recipe recipe in Model.Recipes)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => recipe.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => recipe.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => recipe.NumberOfIngredients)
                </td>
                <td>
                    <a asp-page="/Ingredients/Index" asp-route-recipeId="@recipe.Id">Ingredients</a> |
                    <a asp-page="/Ingredients/Add" asp-route-recipeId="@recipe.Id">Add Ingredient</a> |
                    <a asp-page="./Edit" asp-route-recipeId="@recipe.Id">Edit</a> |
                    <a asp-page="./Index" asp-page-handler="Delete" asp-route-id="@recipe.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>